:root {
  --red: #ed564b;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: var(--bs-gray-900) !important;
}

.navbar-nav a:hover {
  color: var(--red);
}

#carousel {
  padding: 0px;
}

.carousel-caption {
  text-shadow: black 1em 0 1em;
  top: 55%;
  transform: translateY(-50%);
}

.carousel-item img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.carousel-control-next,
.carousel-control-prev {
  width: 10% !important;
  opacity: 1 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--red);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 0.5;
}

#featured {
  color: white;
  background-color: var(--red);
}

.latest-projects p,
.latest-articles p {
  font-size: 0.9rem;
  color: #aaa;
}

.latest-projects .card {
  border: none !important;
}

.latest-articles a,
.latest-articles .highlighted-text {
  color: var(--red);
}

@media (min-width: 768px) {
  .featured-container {
    padding-top: 10em !important;
  }

  .cards-container {
    display: flex;
    gap: 1.5em;
  }
}

@media (min-width: 1440px) {
  .latest-projects,
  .latest-articles {
    margin-right: 4em;
    margin-left: 4em;
  }
}
